*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
      90deg,
      rgb(112, 233, 233) 0%,
      rgb(58, 149, 190) 100%
    );
}
.main {
    display: flex;
    flex-direction: row;
}

html {
    color:aqua;
    font-size: 60%;
    font-family: 'Open Sans', sans-serif;
}
.main{
    background: rgb(198, 243, 147);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.form{
    width: 360px;
    min-height: 100px;
    text-align: center;
    color: rgb(47, 0, 255);
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}
.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}
.form-group.horizontal{
    flex-direction: row;
}
.form-label,
.form-message{
    text-align: left;
}
.text{
    font-size: 16px;
    text-align: center;
    color:blue;
}

.input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #000000;
    outline: none;
    width: 320px;
    background: transparent;
    color: rgb(0, 0, 0);
}